@font-face {
    font-family: outfit_light;
    src: url('./assets/Outfit-Light.ttf');
  }

.nav{
    size:large;
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color:rgb(64, 66, 73);
    color:black;
    height:6vh;
    position:relative;
    box-shadow: 5px 3px 10px rgb(64, 66, 73) ;
    /* rgb(64, 66, 73) */
}
.nav a {
    text-decoration:none;
    color:black;
}
.nav a:active a:visited {
    color:rgb(33, 34, 77);
}

.nav p{
    display:flex;
    justify-content:space-between;
    gap:10px;
    align-items:center;
    width:max-content;
}
.logo{
    
    position:absolute;
    width:10%;
    left: 45%;
    font-family:outfit_light;
    font-size:x-large;
    
}
.profile{
    display:flex;
    font-size:larger;
    width:2em;
    height:auto;
    margin:0.5em;
    color:white;
}
.matches{
    display:flex;
    font-size:larger;
    width:2.5em;
    height:auto;
    margin:0 0;
    color:white;
}
.logout{
    color:black;
    padding:0;
    border-style:none;
    border:none;
    background-color:transparent;
    font-size:1em;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
.app{
    background-color:rgb(182, 182, 185);
    text-align:center;
    height:100vh;
    background-image:url('./assets/background-pic.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    

}
.login{
    display:flex;
    flex-direction:column;
    box-shadow: 5px 10px 18px rgb(64, 66, 73) ;
    border-radius:30px;
    width:50%;
    background-color:rgb(64, 66, 73);
    margin: 2em 0 0 25%;
    color:black;
    
    
}
.login h1{
    font-weight:lighter;
    margin:1em 0 0;
}
.login input{
    width:40%;
    align-self:center;
}

.login button{
    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

#login{
    width:min-content;
    align-self:center;
    background-color:white;
    border-style:solid;
    border-radius:5px;
    border-color:transparent;
    margin: 0.5em 0;
    color:black;
    cursor:pointer;
    box-shadow: 5px 5px 10px turquoise;
    

}

#users{
    margin-top:1em;

}
#register{
    background-color:transparent;
    border-style:none;
    color:black;
    text-decoration:underline;
    margin-top:0.7em;
    font-size:medium;
    font-weight:lighter;

}

#register:active{
    color:black;
}
.userchoice:disabled{
    background-color:turquoise;
    

}
.userchoice{
    background-color:darkgrey;
    border-style:solid;
    border-radius:5px;
    border-color:transparent;
    margin: 0 0.25em 0;
    color:black;
    cursor:pointer;
    
}

.false{
    background-color:darkgrey;
    border-style:solid;
    border-radius:5px;
    border-color:transparent;
    margin: 0 0.25em 0;
    color:black;
    cursor:pointer;
}

.true{
    background-color:turquoise;

}